/* Theme Name: Foster growth
Author: Twenty Eighty Online
Description: Custom Theme
Version: 1.0 */
@import url("https://use.typekit.net/dwl2jdt.css");
:root {
  --background-dark: #00071E;
  --background-light: #000B2F;
  --blue1: #00060E;
  --secondary-rgb: 104, 95, 79;
}

:root {
  --primary: #330066;
  --primary-rgb: 51, 0, 102;
  --body: #7e8f98;
  --title: #707070;
  --search: rgba(126, 143, 152, .6);
  --h1: 2.25rem;
  --h2: 1.75rem;
  --h3: 1.625rem;
  --h4: 1.25rem;
}

@media (min-width: 48rem) {
  :root {
    --ultra-large: 7rem;
    --h1: 2.75rem;
    --h2: 1.875rem;
    --h3: 1.75rem;
  }
}
@media (min-width: 60rem) {
  :root {
    --ultra-large: 8.5rem;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + *,
.wp-block-column > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

* {
  position: relative;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  color: #011E41;
}

h1 {
  line-height: 1.125;
}

h2 {
  font-weight: 400;
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
  font-weight: 300;
}

h4 {
  font-size: 1.3125rem;
  font-weight: 600;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}
a:hover {
  color: skyblue;
  transition: color 200ms;
}

.footer-2 li {
  font-size: 1rem;
}

figcaption {
  text-align: center;
}

@media screen and (min-width: 40rem) {
  body {
    font-weight: 200;
    font-size: 1.25rem;
  }

  .title {
    font-size: 5rem;
    margin-bottom: 0;
  }

  .tagline {
    font-size: 1.9rem;
  }
}
body {
  background: #ffffff;
}

main {
  overflow-x: hidden;
}
main > .module {
  background: #ffffff url("assets/images/bg-circles.png") top center no-repeat;
  background-size: cover;
  padding-top: 5rem;
  margin-top: -5rem;
  border-top-left-radius: 50% 3rem;
  border-top-right-radius: 50% 3rem;
}

.page-content > * + * {
  margin-top: 3rem;
}
.page-content > *:last-child {
  margin-bottom: 0;
}

.wp-block-columns > div {
  margin-bottom: 2rem;
}

.module .container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 70rem;
}
.module .container .flexbox .item {
  margin-bottom: 1rem;
}

.wp-block-embed__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wp-block-image img {
  object-fit: contain;
  height: auto;
}

.v-hidden {
  clip-path: inset(100%) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.no-padding {
  padding: 0;
}

.wp-block-buttons {
  display: flex;
  justify-content: center;
}

button,
.button,
.wp-block-button__link,
.gform_button {
  background-color: #5B1B1B;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 0.75rem 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 0;
  font-size: 1.25rem;
}
button:hover,
.button:hover,
.wp-block-button__link:hover,
.gform_button:hover {
  background-color: #491616;
  color: #cccccc;
}

.featured-image-container {
  overflow: hidden;
}
.featured-image-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  z-index: 0;
}
.featured-image-container .featured-image-content {
  padding: 4rem 2rem 8rem;
  z-index: 2;
}
.featured-image-container .featured-image-content h1 {
  color: #ffffff;
  text-align: left;
}

@media screen and (min-width: 48rem) {
  .featured-image-container img {
    height: auto;
    position: static;
  }
  .featured-image-container .featured-image-content {
    padding: 2rem;
    position: absolute;
    top: 0;
    bottom: 3rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .featured-image-container .featured-image-content .featured-image-content-container {
    max-width: 70rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .featured-image-container .featured-image-content .featured-image-content-container .wrapper {
    width: 50%;
  }
  .featured-image-container .featured-image-content.content-left {
    justify-content: flex-start;
  }
  .featured-image-container .featured-image-content.content-center {
    justify-content: center;
  }
  .featured-image-container .featured-image-content.content-right {
    justify-content: flex-end;
  }
}
@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-column:not(:only-child) {
    flex-grow: 1;
  }
}
footer {
  color: #444;
  padding: 0 2rem;
  padding-top: 5rem;
  margin-top: -5rem;
  border-top-left-radius: 50% 3rem;
  border-top-right-radius: 50% 3rem;
  z-index: 3;
}
footer .footer-menu {
  text-transform: uppercase;
}
footer .footer-menu,
footer .footer-logo,
footer .footer-company {
  display: flex;
  justify-content: center;
  text-align: center;
}
footer .footer-menu ul,
footer .footer-logo ul,
footer .footer-company ul {
  margin: 1rem 0;
  padding: 0;
}
footer .footer-menu ul li,
footer .footer-logo ul li,
footer .footer-company ul li {
  margin-bottom: 0.5rem;
}
footer .footer-menu ul li a,
footer .footer-logo ul li a,
footer .footer-company ul li a {
  color: #444;
}
footer .footer-logo .logo {
  width: 30rem;
}

@media screen and (min-width: 37.5rem) {
  .footer .footer-company ul {
    display: flex;
    justify-content: space-around;
  }
  .footer .footer-company ul li {
    padding: 0 0.5rem 0 0;
  }
  .footer .footer-company ul li:first-of-type {
    padding: 0 1rem 0 0;
  }
  .footer .footer-menu ul {
    display: flex;
    justify-content: space-between;
  }
  .footer .footer-menu ul li {
    padding: 0 1rem;
  }
}
.desktop-menu {
  display: none;
}

@media screen and (min-width: 40rem) {
  .desktop-menu {
    display: block;
    top: 0;
    z-index: 5;
  }
  .desktop-menu .site-nav .site-logo-container {
    display: flex;
    justify-content: center;
  }
  .desktop-menu .site-nav .site-logo-container .site-logo {
    margin-bottom: 0;
  }
  .desktop-menu .site-nav .site-logo-container .site-logo img {
    margin: 0 auto;
    padding-top: 3rem;
    width: 30rem;
  }
  .desktop-menu .site-nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 5rem;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: auto;
    z-index: 1000;
    opacity: 1;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container .site-logo {
    width: 20%;
    text-align: left;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container .primary li:hover > .sub-menu {
    top: 5.5rem;
    opacity: 1;
    visibility: visible;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container:active .menu-icon-close {
    display: block;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container:active .menu-icon-open {
    display: none;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container:active #menu-main {
    display: flex;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container .desktop-menu-wp {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: row;
    z-index: 1000;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container .desktop-menu-wp li:hover > .sub-menu {
    top: 5.5rem;
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container .desktop-menu-wp li {
    position: relative;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container .desktop-menu-wp li a {
    color: #444;
    text-transform: uppercase;
    transition: color 800ms;
    font-weight: 400;
    margin: 0;
    font-size: 1rem;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container .desktop-menu-wp li a:hover {
    color: skyblue;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container .desktop-menu-wp li .sub-menu {
    max-height: 0;
    width: 15rem;
    display: block;
    position: absolute;
    z-index: 100;
    top: 10rem;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container .desktop-menu-wp li .sub-menu li {
    line-height: 3rem;
  }
  .desktop-menu .site-nav .wrapper .desktop-menu-container .desktop-menu-wp li .sub-menu a {
    text-align: left;
  }
}
.mobile-menu {
  display: block;
  top: 0;
  z-index: 5;
}
.mobile-menu .site-nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu .site-nav .wrapper .site-logo-container {
  width: 12rem;
}
.mobile-menu .site-nav .wrapper .site-logo-container .site-logo {
  margin-bottom: 0;
}
.mobile-menu .site-nav .wrapper .site-logo-container .site-logo img {
  margin: 0 auto;
  padding: 2rem 0;
}
.mobile-menu .site-nav .wrapper .mobile-menu-container {
  top: 5rem !important;
  right: 0;
  display: none;
  position: fixed;
  width: auto;
  z-index: 1000;
  background-color: #fff;
  margin-right: 2rem;
  padding: 1rem 2rem;
}
.mobile-menu .site-nav .wrapper .mobile-menu-container.active {
  display: block;
}
.mobile-menu .site-nav .wrapper .mobile-menu-container.active.menu-button {
  color: white;
}
.mobile-menu .site-nav .wrapper .mobile-menu-container:active .menu-icon-close {
  display: block;
}
.mobile-menu .site-nav .wrapper .mobile-menu-container:active .menu-icon-open {
  display: none;
}
.mobile-menu .site-nav .wrapper .mobile-menu-container:active #menu-main {
  display: flex;
}
.mobile-menu .site-nav .wrapper .mobile-menu-container .mobile-menu-wp {
  z-index: 1000;
}
.mobile-menu .site-nav .wrapper .mobile-menu-container .mobile-menu-wp.active {
  display: block;
}
.mobile-menu .site-nav .wrapper .mobile-menu-container .mobile-menu-wp li {
  padding: 0.5rem 0;
}
.mobile-menu .site-nav .wrapper .mobile-menu-container .mobile-menu-wp li a {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #444;
  text-align: right;
}
.mobile-menu .site-nav .wrapper .mobile-menu-container .mobile-menu-wp .sub-menu {
  display: none;
}
.mobile-menu .site-nav .wrapper .menu-button-container .menu-button {
  fill: grey;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 40rem) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu .menu-button-container {
    display: none;
  }
  .mobile-menu .menu-button-container .menu-button {
    font-size: 4em;
    margin-top: 1rem;
  }
}
.front-page-module .front-page-service-box {
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  width: 50%;
}
.front-page-module .front-page-service-box img {
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  opacity: 1;
}
.front-page-module .front-page-service-box p {
  opacity: 1;
  font-weight: bold;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

/*# sourceMappingURL=style.css.map */
