.brands {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .brand-item {
    padding: 1rem;
    width: 49%;

    img {

    }
  }
}

@media (min-width: 48rem) {

  .brands {
    justify-content: space-between;

    .brand-item {
      width: 24%;

      img {

      }
    }
  }
}
