.caption {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .caption-item {
    margin: 1rem 0;
    width: 100%;

    .caption-item-container {

      img {
        margin: 0 auto;
        width: 100%;
        padding: 1rem;
        opacity: .52;
      }

      svg {
        margin: 0 auto;
        width: 100%;
        padding: 2rem;
        opacity: 1;
      }

      .icon-container {
        position: absolute;
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    p {
      opacity: 1;
      font-weight: bold;
      text-align: center;
    }
  }
}

@media (min-width: 48rem) {

  .caption {
    padding: 0 20%;
    justify-content: space-between;

    &.columns-2 {
      .caption-item {
        margin: 1rem 0;
        width: 48%;
      }
    }

    &.columns-3 {
      padding: 0;

      .caption-item {
        margin: 1rem 0;
        width: 31%;
      }
    }
  }
}
