.gform_heading {
  display: none;
}

.full-width {
  padding: 3rem 0;
  z-index: 2;

  .wp-block-column:last-of-type {
    margin: 0 2rem;
  }

  &:before {
    width: 100vw;
    z-index: 0;
    background: linear-gradient(90deg, rgba(1,30,65,1) 0%, rgba(1,30,65,1) 45%, rgba(0,33,72,1) 50%, rgba(0,41,91,1) 60%, rgba(0,54,121,1) 75%, rgba(0,54,121,1) 100%);
    position: absolute;
    margin-left: calc(50% - 50vw);
    top: 0;
    bottom: 0;
    content: " ";
    border-top-left-radius: 50% 3rem;
    border-top-right-radius: 50% 3rem;
  }
}

.gform_wrapper {
  color: #fff;
}

.contact {
  margin-top: 1rem;

  h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
  }

  img {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  ul {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      margin-bottom: .5rem;

      svg {
        margin-right: .5rem;
        fill: #fff;
      }

      a {
        color: #fff;
      }
    }
  }
}

@media (min-width: 782px) {

  .contact-us-block {
    width: 100%;
    margin-left: 0;
    transform: translateX(0);
    padding: 3rem 0;
  }

  .contact {

    h1 {
      text-align: left;
      margin-left: 2rem;
    }

    img {
      margin-left: 2rem;
    }

    ul {
      margin-left: 2rem;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        margin-bottom: .5rem;
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 60rem) {

  .contact {

    ul {

      li {
        font-size: 1.25rem;
      }
    }
  }
}
