.how-we-help {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .how-we-help-item {
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 1.5rem;

    > * + * {
      margin-top: 2rem;
    }

    h3 {
      text-align: left;
    }

    p {

    }
  }
}

@media (min-width: 48rem) {

  .how-we-help {
    justify-content: space-around;

    .how-we-help-item {
      width: 31%;

      p {

      }
    }
  }
}
