.infomatic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > div {
    margin: 1rem 0;
    background: rgba(1,30,65,0.07);
    width: 100%;
  }

  .infomatic-icon {
    display: flex;
    justify-content: center;

    .background-image {
      padding: 2rem;
      object-fit: contain;
    }
  }

  .icon-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 35%;
    }
  }

  .infomatic-content {
    padding: 1rem;
    text-align: center;

  }
}

@media (min-width: 48rem) {

  .infomatic {
    justify-content: space-between;

    > div {
      width: 23%;
    }

    .infomatic-icon {


      .background-image {

      }
    }

    .icon-container {

      img {
      }
    }

    .infomatic-content {


    }
  }
}

@media (min-width: 60rem) {

  // .infomatic {
  //
  //   .infomatic-item {
  //     margin: 1rem 0;
  //     width: 22%;
  //
  //     .infomatic-item-container {
  //
  //       img {
  //         padding: 2rem;
  //       }
  //
  //       svg {
  //         top: 15%;
  //         width: 35%;
  //         left: 35%;
  //       }
  //     }
  //   }
  // }
}
