.track-record {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .track-record-item {
    background-color: rgba(0, 30, 100, .1);
    padding: 1.5rem;

    h3 {
      text-align: left;
      margin-bottom: 1.5rem;
      line-height: 1rem;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }
}

@media (min-width: 48rem) {

  .track-record {
    justify-content: space-between;

    .track-record-item {
      width: 32%;

      h3 {

      }

      p {

      }
    }
  }
}

@media (min-width: 60rem) {

  .track-record {
    justify-content: space-between;

    .track-record-item {

      h3 {

      }

      p {

      }
    }
  }
}
