.who-we-serve {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .who-we-serve-item {
    margin: 1rem 0;

    .who-we-serve-item-top,
    .who-we-serve-item-bottom {
      background-color: #fff;
      padding: 1.5rem;

      h3 {
        text-align: left;
        margin-bottom: 1.5rem;
        line-height: 1rem;
      }

      p {
        margin-bottom: 1.5rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .who-we-serve-item-bottom {
      margin-top: 1rem;
    }
  }
}

@media (min-width: 48rem) {

  .who-we-serve {
    justify-content: space-between;

    .who-we-serve-item {
      margin: 1rem 0;
      width: 32%;

    }
  }
}
