.working-with-us {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .working-with-us-item {
    background: linear-gradient(180deg, rgba(1,30,65,0.2) 0%, rgba(1,30,65,0.2) 45%, rgba(0,33,72,0.2) 50%, rgba(0,41,91,0.2) 60%, rgba(0,54,121,0.2) 75%, rgba(0,54,121,0.2) 100%);
    padding: 1.5rem;
    margin-bottom: 1rem;

    h3 {
      text-align: left;
      margin-bottom: 1.5rem;
      line-height: 1rem;
    }

    p {
      margin-bottom: 1.5rem;
    }

    .button {
      display: block;
    }
  }
}

@media (min-width: 48rem) {

  .working-with-us {
    justify-content: space-between;

    .working-with-us-item {
      width: 31%;

      button {
        width: 100%;
      }
    }
  }
}
