.desktop-menu {
    display: none;
  }

@media screen and (min-width: 40rem) {

  .desktop-menu {
    display: block;
    top: 0;
    z-index: 5;

    .site-nav {

      .site-logo-container {
        display: flex;
        justify-content: center;

        .site-logo {
          margin-bottom: 0;

          img {
            margin: 0 auto;
            padding-top: 3rem;
            width: 30rem;
          }
        }
      }

      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .desktop-menu-container {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          height: 5rem;
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          width: 100vw;
          height: auto;
          z-index: 1000;
          opacity: 1.0;

          .site-logo {
            width: 20%;
            text-align: left;
          }

          .primary li:hover > .sub-menu {
            top: 5.5rem;
            opacity: 1;
            visibility: visible;
          }

          &:active .menu-icon-close {
            display: block;
          }

          &:active .menu-icon-open {
            display: none;
          }

          &:active #menu-main {
            display: flex;
          }

          .desktop-menu-wp {
            height: 5rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            flex-direction: row;
            z-index: 1000;

            li:hover > .sub-menu {
              top: 5.5rem;
              opacity: 1;
              visibility: visible;
              max-height: initial;
            }

            li {
              position: relative;

              a {
                color: #444;
                text-transform: uppercase;
                transition: color 800ms;
                font-weight: 400;
                margin: 0;
                font-size: 1rem;

                &:hover {
                  color: skyblue;
                }
              }

              .sub-menu {
                max-height: 0;
                width: 15rem;
                display: block;
                position: absolute;
                z-index: 100;
                top: 10rem;
                transition: all 500ms ease;
                opacity: 0;
                visibility: hidden;


                li {
                  line-height: 3rem;
                }

                a {
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}
