footer {
  color: #444;
  padding: 0 2rem;

  padding-top: 5rem;
  margin-top: -5rem;
  border-top-left-radius: 50% 3rem;
  border-top-right-radius: 50% 3rem;
  z-index: 3;
  .footer-menu {
    text-transform: uppercase;

  }

  .footer-menu,
  .footer-logo,
  .footer-company {
    display: flex;
    justify-content: center;
    text-align: center;

    ul {
      margin: 1rem 0;
      padding: 0;

      li {
        margin-bottom: .5rem;

        a {
          color: #444;
        }
      }
    }
  }

  .footer-logo {

    .logo {
      width: 30rem;
    }
  }
}

@media screen and (min-width: 37.5rem) {

  .footer {

    .footer-company {

      ul {
        display: flex;
        justify-content: space-around;

        li {
          padding: 0 .5rem 0 0;
        }

        li:first-of-type {
          padding: 0 1rem 0 0;
        }
      }
    }

    .footer-menu {

      ul {
        display: flex;
        justify-content: space-between;

        li {
          padding: 0 1rem;
        }
      }
    }
  }
}
