body {
  background: #ffffff;
}

main {
  overflow-x: hidden;

  > .module {
    background: #ffffff url('assets/images/bg-circles.png') top center no-repeat;
    background-size: cover;
    padding-top: 5rem;
    margin-top: -5rem;
    border-top-left-radius: 50% 3rem;
    border-top-right-radius: 50% 3rem;
  }
}

.page-content {
  > * {
    + * {
      margin-top: 3rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wp-block-columns {
  > div {
    margin-bottom: 2rem;
  }
}

.module {
  .container {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 70rem;

    .flexbox {

      .item {
        margin-bottom: 1rem;
      }
    }
  }
}

.wp-block-embed__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wp-block-image {

  img {
    object-fit: contain;
    height: auto;
  }
}

.v-hidden {
  clip-path: inset(100%) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.no-padding {
  padding: 0;
}

.wp-block-buttons {
  display: flex;
  justify-content: center;
}

button,
.button,
.wp-block-button__link,
.gform_button {
  background-color: #5B1B1B;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: .75rem 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 0;
  font-size: 1.25rem;

  &:hover {
    background-color: #491616;
    color: #cccccc;
  }
}


.featured-image-container {
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: 0;
  }

  .featured-image-content {
    padding: 4rem 2rem 8rem;
    h1 {
      color: #ffffff;
      text-align: left;
    }
    z-index: 2;
  }
}


@media screen and (min-width: 48rem) {

  .featured-image-container {
    img {
      height: auto;
      position: static;
    }

    .featured-image-content {
      padding: 2rem;
      position: absolute;
      top: 0;
      bottom: 3rem;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .featured-image-content-container {
        max-width: 70rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .wrapper {
          width: 50%;
        }
      }

      &.content-left {
        justify-content: flex-start;
      }

      &.content-center {
        justify-content: center;
      }

      &.content-right {
        justify-content: flex-end;
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 781px) {

  .wp-block-column:not(:only-child) {
    flex-grow: 1;
  }
}
