.mobile-menu {
  display: block;
  top: 0;
  z-index: 5;

  .site-nav {

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .site-logo-container {
        width: 12rem;

        .site-logo {
          margin-bottom: 0;

          img {
            margin: 0 auto;
            padding: 2rem 0;
          }
        }
      }

      .mobile-menu-container {
        top: 5rem!important;
        right: 0;
        display: none;
        position: fixed;
        width: auto;
        z-index: 1000;
        background-color: #fff;
        margin-right: 2rem;
        padding: 1rem 2rem;

        &.active {
          display: block;
        }

        &.active.menu-button {
          color: white;
        }

        &:active .menu-icon-close {
          display: block;
        }

        &:active .menu-icon-open {
          display: none;
        }

        &:active #menu-main {
          display: flex;
        }

        .mobile-menu-wp {
          z-index: 1000;

          &.active {
            display: block;
          }

          li {
            padding: .5rem 0;

            a {
              display: block;
              font-size: 1.5rem;
              text-transform: uppercase;
              font-weight: 600;
              color: #444;
              text-align: right;
            }
          }

          .sub-menu {
            display: none;
          }
        }
      }

      .menu-button-container {

        .menu-button {
          fill: grey;
          margin-bottom: 0;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}


@media screen and (min-width: 40rem) {

  .mobile-menu {
    display: none;

    .menu-button-container {
      display: none;

      .menu-button {
        font-size: 4.00em;
        margin-top: 1rem;
      }
    }
  }
}
