@import url("https://use.typekit.net/dwl2jdt.css");

body {
  font-family: 'freight-sans-pro', sans-serif;
  font-weight: 400; // 700: bold, 400: book, 300: light
  font-style: normal;
  font-size: 1rem;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 ,h4, h5, h6 {
  color: #011E41;
}

h1 {
  line-height: 1.125;
}

h2 {
  font-weight: 400;
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
  font-weight: 300;
}

h4 {
  font-size: 1.3125rem;
  font-weight: 600;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;

  &:hover {
    color: skyblue;
    transition: color 200ms;
  }
}

.footer-2 {
  li {
    font-size: 1rem;
  }
}

figcaption {
  text-align: center;
}

@media screen and (min-width: 40rem) {

  body {
    font-weight: 200;
    font-size: 1.25rem;
  }

  .title {
    font-size: 5rem;
    margin-bottom: 0;
  }

  .tagline {
    font-size: 1.9rem;
  }

}
