.front-page-module {

  .front-page-service-box {
    background-color: rgba(0, 0, 0, .05);
    margin-bottom: 1rem;
    width: 50%;

    img {
      margin: 0 auto;
      width: 100%;
      padding: 2rem;
      opacity: 1;
    }

    p {
      opacity: 1;
      font-weight: bold;
      text-align: center;
      padding: 0 2rem 2rem 2rem;
    }
  }
}
