:root {

  --background-dark: #00071E;
  --background-light: #000B2F;
  --blue1: #00060E; --secondary-rgb: 104, 95, 79;

}

:root {

  --primary: #330066; --primary-rgb: 51, 0, 102;

  --body: #7e8f98;
  --title: #707070;
  --search: rgba(126, 143, 152, .6);

  --h1: 2.25rem;
  --h2: 1.75rem;
  --h3: 1.625rem;
  --h4: 1.25rem;
}

@media ( min-width: 48rem ) {
  :root {
    --ultra-large: 7rem;
    --h1: 2.75rem;
    --h2: 1.875rem;
    --h3: 1.75rem;
  }
}

@media ( min-width: 60rem ) {
  :root {
    --ultra-large: 8.5rem;
  }
}
